{% macro field(title, author, date, outline) %}
  <div class="article-card">
    <span class="article-title">{{title}}</span>
    <div class="article-info">
      <span class="article-author">{{author}}</span>
      <span class="article-date">{{date}}</span>
    </div>
    <p class="article-outline">
      {{outline}}
    </p>
    <div class="article-detail">
      继续阅读<i class="fa fa-angle-double-right fa-lg"></i>
    </div>
  </div>
{% endmacro %}