{% set items = [
  {
    icon: 'home',
    title: '首页',
    href: '/'
  }, {
    icon: 'folder-open',
    title: '归档',
    href: '/#/archive'
  }, {
    icon: 'user',
    title: '关于',
    href: '/#/about'
  }
] %}

<section class="side-bar">
  <div class="logo">
    {# <img class="logo-pic" src="https://img.bafang.com/cdn/assets/imgs/MjAxOTc/83EE9A71AD9FDC5AAD5A37C3199E743E.png"/> #}
    <span class="logo-name">OKFE.Club</span>
  </div>
  <ul class="nav-list">
    {% for item in items %}
      <li class="nav-list-item">
        <div class="item-wrap">
          <i class="item-pic fa fa-{{item.icon}} fa-lg"></i>
          <a class="item-text" href="{{item.href}}">{{ item.title }}</a>
        </div>
      </li>
    {% else %}
      <li>This would display if the 'item' collection were empty</li>
    {% endfor %}
  </ul>
  {# <section class="function-items">
    <div class="home-page item">
      <img class="item-pic" src="https://img.bafang.com/cdn/assets/imgs/MjAxOTc/6EDE24A69046487D21770B44C548AE81.png">
      <span class="item-text">首页</span>
    </div>
    <div class="classify-page item">
      <img class="item-pic" src="https://img.bafang.com/cdn/assets/imgs/MjAxOTc/9AB2FE1D6D28C4EEBCAC517D1719D23A.png">
      <span class="item-text">归档</span>
    </div>
    <div class="label-page item">
      <img class="item-pic" src="https://img.bafang.com/cdn/assets/imgs/MjAxOTc/E3E10C0F8EBF27C582DC9E2F2E2FC009.png">
      <span class="item-text">标签</span>
    </div>
    <div class="about-page item">
      <img class="item-pic" src="https://img.bafang.com/cdn/assets/imgs/MjAxOTc/FFA7D1D92F7E09CDD0A72A792335E26E.png">
      <span class="item-text">关于</span>
    </div>
    <div class="out-link-page item">
      <img class="item-pic" src="https://img.bafang.com/cdn/assets/imgs/MjAxOTc/B47255C1575AEBAFD69308C1C2E0F3A1.png">
      <span class="item-text">友链</span>
    </div>
  </section> #}
</section>
