@import '~_src/less/variables.less';

.card-wrap {
  height: 480px;
  background-color: #FFF;
  border-radius: 4px 4px 0 0;

  &:hover {
    transition-property: 'transform';
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .card-header {
    padding: 30px 0 15px 25px;
    padding-left: 7.6923%;
    padding-right: 7.6923%;

    .title-wrap {
      margin-left: 0;
      font-weight: 300;
      line-height: 35px;
      font-size: 21px;
      transition: color .3s;

      a {
        color: @theme-color;
        font-weight: 600;

        &:hover {
          opacity: .6;
        }
      }

    }

    .article-author {
      font-size: 14px;
      color: @theme-color;
    }

    .article-date {
      align-self: flex-end;
      color: #999;
      font-size: 14px;
      margin-left: 12px;

      .anticon {
        margin-right: 5px;
      }
    }

  }

  .card-body {
    height: 300px;
    padding-left: 7.6923%;
    padding-right: 7.6923%;

    .markdown {
      margin-top: 18px;
      height: 190px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .card-footer {
    bottom: 60px;
    height: 60px;
    border-top: 1px solid #ddd;

    .tags-wrap {
      margin-top: 10px;

      .tag-wrap {
        color: @theme-color;
        margin-left: 15px;

        .tag-name {
          margin-left: 10px;
        }
      }
    }
  }
}