.article-card {
  border-radius: 4px 4px 0 0;

  .article-head {
    width: 400px;
    align-items: flex-end;

    .article-title-item {
      margin-left: 15px;
    }

    .article-title {
      font-size: 18px;
    }
  }

  .article-outline {
    margin-top: 18px;
    height: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ant-card-body {
    height: 300px;

  }
}