.app-vertical {
  .logo {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
  }

  .main-content {
    padding: 30px;
  }

  .copyright {
    font-size: 14px;
  }

  .ant-layout-sider-trigger {
    background: rgba(238, 238, 238, .7);
  }
}

.app-horizontal {
  background-color: #FFF;
  padding: 0 20%;

  .ant-layout-header {
    background-color: transparent;
    height: 182px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .logo {
      font-size: 18px;
      font-weight: bold;
      padding-top: 15px;
    }
  }
}