@import '~_src/less/variables.less';

.app-vertical {

  .logo {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
  }

  .main-content {
    padding: 30px;
    background: linear-gradient(90deg, #021048, #1e38a3);
  }

  .copyright {
    font-size: 14px;
  }

  .ant-layout-sider-trigger {
    background: rgba(238, 238, 238, .7);
  }
}

.app-horizontal {
  min-height: 100vh;

  .ant-layout-header {
    // background-color: transparent;
    // background: linear-gradient(90deg, #021048, #1e38a3);
    background: linear-gradient(90deg, #041636, #0b2758);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;

    .logo {
      font-size: 32px;
      color: #FFF;
      font-weight: bold;
    }
  }

  .ant-layout-content {
    min-height: 480px;
    padding: 0 20%;
  }

  .ant-layout-footer {
    padding: 0 0 20px;
    background-color: transparent;
    // color: rgba(229, 235, 255, .56);
    min-height: 48px;
    padding: 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    .anticon-github {
      &:hover {
        color: @theme-color;
      }
    }
  }
}