@import '~_src/less/variables.less';

.top-menu-wrap {
  padding-top: 0;

  .ant-menu {
    border-bottom: none;
    background-color: transparent;

    .ant-menu-item.ant-menu-item-active {
      color: @theme-color;
    }

    .ant-menu-item {
      border-bottom: none;
      font-size: 14px;
      color: #888888;
      padding: 5px;
    }

    .ant-menu-item.ant-menu-item-selected {
      color: @theme-color;
      border-bottom: none;
    }
  }
}