@import '~_src/less/variables.less';

.top-menu-wrap {
  padding-top: 0;

  .ant-menu {
    border-bottom: none;
    background-color: transparent;

    .ant-menu-item {
      border-bottom: none;
      font-size: 14px;
      font-weight: 500;
      color: rgba(229, 235, 255, .56);
      padding: 5px;
    }

    .ant-menu-item.ant-menu-item-selected {
      color: #FFF;
      border-bottom: none;
    }
  }
}